.edit .controller.ds4 {
    background: url(https://schoettner.github.io/skins/base-custom.png);
}


.controller.edit {
    background: url(https://schoettner.github.io/skins/base-custom.png);
}

.face.edit {
    background: url(https://schoettner.github.io/skins/dpad-custom.png);
    position: absolute;
}

.stick.edit {
    background: url(https://schoettner.github.io/skins/stick-custom.png);
    position: absolute;
}
