.edit .controller.ds4 {
    background: url(https://schoettner.github.io/skins/base-custom.png);
}


.controller.edit {
    background: url(https://schoettner.github.io/skins/base-custom.png);
}


.edit .face .ds4 {
    background: url(https://schoettner.github.io/skins/dpad-custom.png);
}


.edit .face {
    position: absolute;
    background: url(https://schoettner.github.io/skins/dpad-custom.png);
}


.edit .stick .ds4 {
    background: url(https://schoettner.github.io/skins/sticks-custom.png);
}


.edit .stick {
    position: absolute;
    background: url(https://schoettner.github.io/skins/sticks-custom.png);
}


